


*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body{
  background-image: linear-gradient(to bottom, #009688 0px, #009688 15vh, #dddbd1 15vh, #d2dbdc 100%);
  height: 100vh;
  overflow: hidden;
  /* display: flex; */
  /* position: relative; */
}

.container{
  display: flex;
  margin: 30px auto;
  width: 1300px;
  height: 95%;
}

.mouse-over{
  cursor: pointer;
}


/* left panel */
.left-panel{
  width: 35%;
  height: 100%;
}

.header-left,
.right-panel .active-chat{
  padding: 5px;
  background-color: #EAEAEA;
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 70px;
}

.header-left .profile-avatar img,
.chats ul li img,
.right-panel .active-chat .profile-avatar img{
  width: 60px;
  border-radius: 50%;
  vertical-align: middle;
  margin-left: 5px;
}

.header-left h4,
.right-panel .active-chat span{
  flex-grow: 1;
  font-size: 20px;
  margin-left: 5px;
}


.header-left .profile-icons{
  margin-right: 10px;
}

.header-left .profile-icons i,
.right-panel .active-chat .active-chat-icons i{
  font-size: 22px;
  margin: 0 5px;
  color: #B1B1B1;
}


.alert-notifiche{
  background-color: #8EDAFC;
  display: flex;
  align-items: center;
  padding: 10px;
  height: 80px;
}

.alert-notifiche .bell{
  margin-left: 10px;
}

.alert-notifiche .bell i{
  padding: 15px;
  font-size: 25px;
  border-radius: 50%;
  background-color: #F2FBFF;
  color: #8EDAFC;
}

.bell-text{
  margin-left: 10px;
}


.bell-text h4{
  font-size: 18px;
}

.bell-text h6{
  font-size: 16px;
  color: #B1B1B1;
  text-decoration: underline;
}


/* search */
.search-chat{
  background-color: #FAFAFA;
  display: flex;
  height: 50px;
}

.search-chat .search{
  margin: 5px;
  display: flex;
}

.search-chat .search i{
  padding: 10px 20px;
  font-size: 20px;
  border-right: 1px solid lightgrey;
  background-color: #FFFFFF;
  color: #B1B1B1;
}

.input{
  padding: 5px;
  background-color: #FFFFFF;
}

.input input{
  padding: 5px;
  height: 100%;
  width: 360px;
  border: none;
}
/* /search */




/* chats */
.chats{
  background-color: #FFFFFF;
  overflow-y: scroll;
  height: calc(100% - 70px - 80px - 50px);
}

.chats ul{
  list-style: none;
  position: relative;
}

.chats ul li{
  display: flex;
  padding: 10px;
  align-items: center;
  border-bottom: 1px solid rgba(209, 209, 209, 0.65);
}

.chats ul li:hover{
  background-color: rgba(89, 89, 89, 0.56);
}

/* ho bisogno di inserirlo nel DOM per @click di Vue */
/* .chats ul li:hover::after{
  content: '\f078';
  font-family: "Font Awesome 5 Free";
  font-weight: 900;
  display: inline-block;
  position: absolute;
  right: 0;
   bottom: 0;   se lo attivi lo vedrai solo sul ultimo li, idem per top
  margin: 30px 15px 0 0;
  cursor: pointer;
} */

.chats ul li i{
  position: absolute;
  right: 0;
  margin: 50px 10px 0 0;
  display: none;
}

.chats ul li span h4{
  text-transform: capitalize;
  margin-left: 10px;
}

.chats ul li span p{
  margin: 5px 0 0 10px;
}

.chats ul li small{
  position: absolute;
  right: 0;
  margin-right: 5px;
}

/* /chats */
/* /left panel */



/* right panel */
.right-panel{
  width: 65%;
  height: 100%;
}

.active-chat{
  border-left: 1px solid rgba(209, 209, 209, 0.65);
}

.active-chat span h6{
  font-size: 16px;
  color: #B1B1B1;
}


/* body of chat */
.body-active-chat{
  height: calc(100% - 140px);
  background-image: url("../img/mine.jpg");
  overflow-y: scroll;
}

.messages{
  padding: 70px;
  word-break: break-all; /* per mandare a capo la parola se troppo lunga */
  /* min-width: 40%;
  max-width: 60%; */
}

.messages small{
  float: right;
}

.body-active-chat .received,
.body-active-chat .sent{
  margin: 15px;
  padding: 10px;
  border-radius: 5px;
  width: 40%;
  clear: both;
  position: relative;
}

.sent{
  float: right;
  background-color: rgb(129, 177, 114);
}

.received{
  background-color: white;
  float: left;
}

/* mi serve intervenire sul click ma non posso se lo lascio come pseudo elemento, deve essere nel DOM */
/* .sent:hover::after,
.received:hover::after{
  content: '\f078';
  font-family: "Font Awesome 5 Free";
  font-weight: 900;
  display: inline-block;
  position: absolute;
  right: 0;
  top: 0;
  margin: 5px 10px 0 0;
  cursor: pointer;
} */

.sent i,
.received i{
  position: absolute;
  right: 0;
  top: 0;
  margin: 5px 10px 0 0;
  cursor: pointer;
  display: none;
}

.sent:hover i,
.received:hover i,
.chats ul li:hover i{
  display: inline-block;
}

.sent i div.tendina,
.received i div.tendina,
.chats ul li i div.tendina{
  width: 150px;
  padding: 10px;
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  text-align: center;
  text-transform: capitalize;
  background-color: red;
}

/* /body of chat */



/* typing bar */
/* .typing-bar{
  height: 70px;
} */

.typing-bar .text-sb{
  height: 70px;
  background-color: #F3EEEA;
  display: flex;
  align-items: center;
}

.typing-bar .text-sb i{
  font-size: 22px;
  margin: 0 20px;
  color: #B1B1B1;
}

.typing-bar .text-sb input{
  flex-grow: 1;
  padding: 12px;
}
/* /typing bar */
/* /right panel */
