*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body{
  background-image: linear-gradient(to bottom, #009688 0px, #009688 15vh, #dddbd1 15vh, #d2dbdc 100%);
  height: 100vh;
  overflow: hidden;
}

.container{
  display: flex;
  margin: 30px auto;
  width: 1300px;
  height: 700px;
  background-color: red;
}

/* left panel */

.left-panel{
  width: 35%;
  background-color: blue;
}

.right-panel{
  width: 65%;
  height: 100%;
  background-color: green;
}

.header-left,
.right-panel .active-chat{
  padding: 5px;
  background-color: #EAEAEA;
  display: flex;
  justify-content: space-between;
  align-items: center;

  height: 70px;
}

.header-left .profile-avatar img,
.chats ul li img,
.right-panel .active-chat .profile-avatar img{
  width: 60px;
  border-radius: 50%;
  vertical-align: middle;
  margin-left: 5px;
}

.header-left h4,
.right-panel .active-chat span{
  flex-grow: 1;
  font-size: 20px;
  margin-left: 5px;
}


.header-left .profile-icons{
  margin-right: 10px;
}

.header-left .profile-icons i,
.right-panel .active-chat .active-chat-icons i{
  font-size: 22px;
  margin: 0 5px;
  color: #B1B1B1;
}


.alert-notifiche{
  background-color: #8EDAFC;
  display: flex;
  align-items: center;
  padding: 10px;

  height: 80px;
}

.alert-notifiche .bell{
  margin-left: 10px;
}

.alert-notifiche .bell i{
  padding: 15px;
  font-size: 25px;
  border-radius: 50%;
  background-color: #F2FBFF;
  color: #8EDAFC;
}

.bell-text{
  margin-left: 10px;
}


.bell-text h4{
  font-size: 18px;
}

.bell-text h6{
  font-size: 16px;
  color: #B1B1B1;
  text-decoration: underline;
}

/* search */
.search-chat{
  background-color: #FAFAFA;
  display: flex;

  height: 50px;
}

.search-chat .search{
  margin: 5px;
  display: flex;
  /* box-shadow: 1px 1px 1px 1px #9d9d9d; */
}

.search-chat .search i{
  padding: 10px 20px;
  font-size: 20px;
  border-right: 1px solid lightgrey;
  background-color: #FFFFFF;
  color: #B1B1B1;
}

.input{
  padding: 5px;
  background-color: #FFFFFF;
}

.input input{
  padding: 5px;
  height: 100%;
  width: 360px;
  border: none;
}


/* /search */




/* chats */
.chats{
  background-color: #FFFFFF;
  overflow-y: scroll;

  height: calc(100% - 70px - 80px - 50px);
}

.chats ul{
  list-style: none;
}

.chats ul li{
  display: flex;
  padding: 10px;
  align-items: center;
  border-bottom: 1px solid rgba(209, 209, 209, 0.65);
}

.chats ul li h4{
  text-transform: capitalize;
  margin-left: 10px;
}
/* /chats */


/* /left panel */



/* right panel */
.active-chat{
  border-left: 1px solid rgba(209, 209, 209, 0.65);
}

.active-chat span h6{
  font-size: 16px;
  color: #B1B1B1;
}

.body-active-chat{
  height: 80%;
  background-image: url("../img/mine.jpg");
  overflow-y: scroll;
  display: flex;
}

.body-active-chat .received{
  width: 50%;
  height: 100%;
  background-color: red;
}

.body-active-chat .sent{
  width: 50%;
  height: 100%;
  background-color: green;
}











.typing-bar{
  height: 10%;
  background-color: brown;
}



/* /right panel */
